﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="empAll.aspx.cs" Inherits="CRUDAjax.empAll" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        

    </form>
</body>
</html>
