﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="facebookSync.aspx.cs" Inherits="CRUDAjax.facebookSync" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>

    <%--<script>
        window.fbAsyncInit = function () {
            //alert("start!");
            FB.init({
                appId: '521716741601407',
                autoLogAppEvents: true,
                xfbml: false,
                status: true,
                version: 'v3.1'
            });
            alert("initialized!");
            FB.login(function (response) {
                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function (response) {
                        console.log('Good to see you, ' + response.name + '.');
                    });
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            });
            alert("logged in!");

            FB.ui({
                method: 'pagetab',
                redirect_uri: 'http://localhost:12395/facebookSync.aspx'
            }, function (response) { });
            /* make the API call */
            //FB.ui({
            //    method: '/ElGed3anServices/feed',
            //    link: 'http://crudajax.apphb.com',
            //    caption: 'An example caption',
            //}, function (response) { });
            FB.api(
                "/Testingajax-460590547760073/feed",
                "POST",
                {
                    "message": "added from crud .. testing"
                },
                function (response) {
                    if (response && !response.error) {
                        /* handle the result */
                        alert("added!");
                        alert(response);
                    }
                }
            );
            FB.api(
                '/460590547760073/feed',
                'POST',
                { "attached_media[0,1][0]": "https://c.tadst.com/gfx/750w/doomsday-rule.jpg?1, https://c.tadst.com/gfx/750w/doomsday-rule.jpg?1", "message": "this is posted online from crud multi image trial javascript" },
                function (response) {
                    // Insert your code here
                }
            );
            alert("posted!");

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>--%>

</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <%--        <script type="text/javascript">
            $(document).ready(function () {
                //alert("clicked");
                var pageID = "460590547760073";
                var messagey = "hello from CRUD using web service";
                var appID = "521716741601407";
                var appSecret = "f65fd7f3643a360f0c06b28872815aa9";
                var accessToken = "EAAHaf6UOeH8BAAPVU3VWlD31aUcgbOwDcZAP8but2b80j4Liwf5Rb6zwEIEABcn46LwqALZCLr4tpJ724dLEvSv9ixLLO4nZA5QZChUZCLaM7dvZAmVnBcZBpzWbAZBFuNQJYZCRQUHvl5Q2yHhtC8Yp8JIJ91OJYeccoIZCse0PLp8gZDZD";
                //alert(str);
                $.ajax({
                    url: 'Service.asmx/postFace',
                    method: 'POST',
                    contentType: 'application/json;charset-utf-8',
                    data: JSON.stringify({ pgID: pageID, msg: messagey, AppID: appID, AppSec: appSecret, AccToken: accessToken }),
                    dataType: 'json',
                    success: function (data) {
                        alert("added!");
                        response(data.d);

                    },
                    error: function (err) {
                        alert("error in adding employee! Sorry");
                    }
                });
                return false;
            });

        </script>--%>
    </form>
</body>
</html>
