﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master1.master.cs" Inherits="CRUDAjax.Master1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <%--<link rel="icon" type="image/png" href="assets/img/favicon.png" />--%>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        <asp:ContentPlaceHolder ID="cpTitle" runat="server">
        </asp:ContentPlaceHolder>
        <asp:Literal Text=" | Dynawix Admin Panel" runat="server" />
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="icon" type="image/png" href="assets/img/favicon-96x96-new.png" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>

    <link href="assets/demo/demo.css" rel="stylesheet" />
    <style>
        body, html {
            overflow: hidden;
        }

        .capitalize {
            text-transform: capitalize;
        }

        body .myAlertMaster {
            width: 80%;
            z-index: 8000;
            margin: auto;
            display: none;
        }
        /* Ostrich Sans */

        @font-face {
            font-family: 'Ostrich Sans';
            src: url('assets/fonts/ostrich-sans-black.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-black.woff') format('woff'), url('assets/fonts/ostrich-sans-black.ttf') format('truetype'), url('assets/fonts/ostrich-sans-black.svg') format('svg');
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: 'Ostrich Sans';
            src: url('assets/fonts/ostrich-sans-bold.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-bold.woff') format('woff'), url('assets/fonts/ostrich-sans-bold.ttf') format('truetype'), url('assets/fonts/ostrich-sans-bold.svg') format('svg');
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Ostrich Sans';
            src: url('assets/fonts/ostrich-sans-regular.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-regular.woff') format('woff'), url('assets/fonts/ostrich-sans-regular.ttf') format('truetype'), url('assets/fonts/ostrich-sans-regular.svg') format('svg');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Ostrich Sans';
            src: url('assets/fonts/ostrich-sans-light.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-light.woff') format('woff'), url('assets/fonts/ostrich-sans-light.ttf') format('truetype'), url('assets/fonts/ostrich-sans-light.svg') format('svg');
            font-weight: 300;
            font-style: normal;
        }

        /* Ostrich Sans Dashed */

        @font-face {
            font-family: 'Ostrich Sans Dashed';
            src: url('assets/fonts/ostrich-sans-dashed.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-dashed.woff') format('woff'), url('assets/fonts/ostrich-sans-dashed.ttf') format('truetype'), url('assets/fonts/ostrich-sans-dashed.svg') format('svg');
            font-weight: 500;
            font-style: normal;
        }

        /* Ostrich Sans Rounded */

        @font-face {
            font-family: 'Ostrich Sans Rounded';
            src: url('assets/fonts/ostrich-sans-rounded.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-rounded.woff') format('woff'), url('assets/fonts/ostrich-sans-rounded.ttf') format('truetype'), url('assets/fonts/ostrich-sans-rounded.svg') format('svg');
            font-weight: 500;
            font-style: normal;
        }

        /* Ostrich Sans Inline */

        @font-face {
            font-family: 'Ostrich Sans Inline';
            src: url('assets/fonts/ostrich-sans-inline-regular.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-inline-regular.woff') format('woff'), url('assets/fonts/ostrich-sans-inline-regular.ttf') format('truetype'), url('assets/fonts/ostrich-sans-inline-regular.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Ostrich Sans Inline';
            src: url('assets/fonts/ostrich-sans-inline-italic.eot');
            src: local('☺'), url('assets/fonts/ostrich-sans-inline-italic.woff') format('woff'), url('assets/fonts/ostrich-sans-inline-italic.ttf') format('truetype'), url('assets/fonts/ostrich-sans-inline-italic.svg') format('svg');
            font-weight: normal;
            font-style: italic;
        }

        @font-face {
            font-family: 'ReklameScript';
            src: url('assets/fonts/ReklameScript.otf');
            font-weight: normal;
            font-style: normal;
        }

        body .butn, .selectpicker {
            background-color: #9c27b0 !important;
            color: white !important;
            cursor: pointer !important;
            margin-left: 25px !important;
            border-radius: 5px !important;
            /*font-family: 'ReklameScript';*/
            padding-top: 0px !important;
            line-height: 100% !important;
            min-height: 50px;
            max-height: 50px;
            border: none;
            font-size: 1.2em;
        }

        body .butn {
            margin-top: -1px;
        }
        .logOut {
            cursor:pointer;
        }
        /*ReklameScript.otf*/
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="alert alert-success alert-dismissible fade show myAlertMaster success" role="alert">
            <strong>Good News!</strong> <span id="succMsgMaster">You should check in on some of those fields below.</span>
            <button type="button" class="close">
                <span class="hideAlert" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-danger alert-dismissible fade show myAlertMaster failed" role="alert">
            <strong>Sorry!</strong> <span id="failMsgMaster">You should check in on some of those fields below.</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span class="hideAlert" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="wrapper ">
            <div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
                <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
        Tip 2: you can also add an image using data-image tag
    -->
                <div class="logo">
                    <a href="#" class="simple-text logo-normal" style="color: #9229AC !important; font-family: 'ReklameScript'; font-weight: bold; font-size: 2em;">
                        <img src="assets/img/favicon-96x96-new.png" class="img-responsive" style="height: 50px; margin-top: -5px;" alt="DYNAWIX" />
                        Admin Panel
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav" id="asideMenu">
                        <li class="nav-item active  ">
                            <a class="nav-link">
                                <i class="material-icons">dashboard</i>
                                <p>Admin Links</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="DBManage.aspx">
                                <i class="material-icons">perm_data_setting</i>
                                <p>Manage Database</p>
                            </a>
                        </li>
                        <%--<li class="nav-item">
                            <a class="nav-link" href="ViewsManage.aspx">
                                <i class="material-icons">visibility</i>
                                <p>Manage Views</p>
                            </a>
                        </li>--%>
                    </ul>
                    <ul class="nav" id="asideMenuCRUD">
                        <li class="nav-item active  ">
                            <a class="nav-link">
                                <i class="material-icons">dashboard</i>
                                <p>CRUD Links</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <a class="navbar-brand" href="#pablo">Dashboard</a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            <panel class="navbar-form">
                                <div class="input-group no-border">
                                    <input type="text" id="txtSearch" value="" class="form-control" placeholder="Search..." />
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </panel>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="material-icons">dashboard</i>
                                        <p class="d-lg-none d-md-block">
                                            Stats
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">notifications</i>
                                        <span class="notification">5</span>
                                        <p class="d-lg-none d-md-block">
                                            Some Actions
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                        <a class="dropdown-item" href="#">Another Notification</a>
                                        <a class="dropdown-item" href="#">Another One</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">
                                            Account
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link logOut" id="logOut">
                                        <i class="material-icons">power_settings_new</i>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div>
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>


                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="float-left">
                            <ul>
                                <li>
                                    <a href="http://dynawix.com">Dynawix Admin Panel
                                    </a>
                                </li>
                                <li>
                                    <a href="http://dynawix.com/">About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="http://dynawix.com">Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://dynawix.com/license">Licenses
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright float-right">
                            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
                            , made with <i class="material-icons">favorite</i> by
            <a href="http://dynawix.com" target="_blank">Dynawix Admin Panel</a> for a better web.
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </form>



    <!--   Core JS Files   -->
    <%--    <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>--%>
    <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chartist JS -->
    <script src="assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="assets/demo/demo.js"></script>

    <script>
        $(window).load(function () {

            var EMAIL = '<%= Session["mail"] %>';
            var PASS = '<%= Session["password"] %>';
            if (EMAIL == null || EMAIL == '') {
                var currentUrl = "login.aspx";

                $(location).attr("href", currentUrl);
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script>
    <script>
        function clearSess() {
            var Storage = {
                empty: function () {
                    sessionStorage.clear();
                }
            };
            var clear = document.getElementById('logOut')
            clear.onclick = function () {
                Storage.empty();
            };
            //return false;
        }

        $(".logOut").click(function () {
            clearSess();
            $(location).attr("href","Login.aspx");
        });
        $(document).ready(function () {

            $.ajax({
                url: 'Service.asmx/getAllTables',
                method: 'post',
                data: { accLevTbls: "Admin" },
                dataType: 'xml',
                success: function (data) {
                    var arr = [];
                    var iconsy = [];
                    var linky = [];
                    var jqueryXML = $(data);
                    var county = $(data).find("tableName").length;
                    //alert(jqueryXML.find('Table').eq(2).text())
                    for (var i = 0; i < county; i++) {

                        arr.push(jqueryXML.find('tableName').eq(i).text());
                        linky.push(jqueryXML.find('link').eq(i).text());
                        iconsy.push(jqueryXML.find('icon_Name').eq(i).text());

                    }
                    for (var x = 0; x < arr.length  ; x++) {
                        var txt = arr[x];
                        txt = txt.replace('_', ' ');
                        var firstPart = '<li class="nav-item"><a class="nav-link" href="' + linky[x] + '"><i class="material-icons">' + iconsy[x] + '</i><p class="capitalize">' + txt + '</p></a></li>';
                        $('#asideMenu').append(firstPart);
                    }
                },
                error: function (err) {
                    //alert("Sorry! there aren't any available Entity to manage");
                    //$('.myAlert.failed').css('display', 'block');
                    //$('#failMsgMaster').html('Sorry! there arent any available Entity to manage');
                }
            });
            $.ajax({
                url: 'Service.asmx/getAllTables',
                method: 'post',
                data: { accLevTbls: "CRUD" },
                dataType: 'xml',
                success: function (data) {
                    var arr = [];
                    var iconsy = [];
                    var linky = [];
                    var jqueryXML = $(data);
                    var county = $(data).find("tableName").length;
                    //alert(jqueryXML.find('Table').eq(2).text())
                    for (var i = 0; i < county; i++) {

                        arr.push(jqueryXML.find('tableName').eq(i).text());
                        linky.push(jqueryXML.find('link').eq(i).text());
                        iconsy.push(jqueryXML.find('icon_Name').eq(i).text());
                    }
                    for (var x = 0; x < arr.length  ; x++) {
                        var txt = arr[x];
                        txt = txt.replace('_', ' ');
                        var firstPart = '<li class="nav-item"><a class="nav-link" href="' + linky[x] + '"><i class="material-icons">' + iconsy[x] + '</i><p class="capitalize">' + txt + '</p></a></li>';
                        $('#asideMenuCRUD').append(firstPart);
                    }
                },
                error: function (err) {
                    //alert("Sorry! there aren't any available Entity to manage");
                    //$('.myAlert.failed').css('display', 'block');
                    //$('#failMsgMaster').html('Sorry! there arent any available Entity to manage');
                }
            });

        });
    </script>

</body>
</html>
